fastapi
uvicorn[standard]
motor
pymongo[srv]
pydantic[email]
python-dotenv
requests
httpx
newspaper3k
PyPDF2
pytesseract
Pillow
langdetect
python-jose[cryptography]
passlib[bcrypt]
python-multipart
beautifulsoup4
lxml
lxml_html_clean
certifi
